# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\DE-LEW\Nextcloud\Shared_Desktops\TU Berlin\Informatik\11. Semester\Cyber-Physical Systems\PCPS-2021\server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
